package themes

import "image/color"

func init() {
	Base16["{{scheme-name}}"] = Theme{
		Name: "{{scheme-name}}",
		Author: "{{scheme-author}}",
		Color00: color.RGBA{R: {{base00-rgb-r}}, G: {{base00-rgb-g}}, B: {{base00-rgb-b}}, A: 255},
		Color01: color.RGBA{R: {{base01-rgb-r}}, G: {{base01-rgb-g}}, B: {{base01-rgb-b}}, A: 255},
		Color02: color.RGBA{R: {{base02-rgb-r}}, G: {{base02-rgb-g}}, B: {{base02-rgb-b}}, A: 255},
		Color03: color.RGBA{R: {{base03-rgb-r}}, G: {{base03-rgb-g}}, B: {{base03-rgb-b}}, A: 255},
		Color04: color.RGBA{R: {{base04-rgb-r}}, G: {{base04-rgb-g}}, B: {{base04-rgb-b}}, A: 255},
		Color05: color.RGBA{R: {{base05-rgb-r}}, G: {{base05-rgb-g}}, B: {{base05-rgb-b}}, A: 255},
		Color06: color.RGBA{R: {{base06-rgb-r}}, G: {{base06-rgb-g}}, B: {{base06-rgb-b}}, A: 255},
		Color07: color.RGBA{R: {{base07-rgb-r}}, G: {{base07-rgb-g}}, B: {{base07-rgb-b}}, A: 255},
		Color08: color.RGBA{R: {{base08-rgb-r}}, G: {{base08-rgb-g}}, B: {{base08-rgb-b}}, A: 255},
		Color09: color.RGBA{R: {{base09-rgb-r}}, G: {{base09-rgb-g}}, B: {{base09-rgb-b}}, A: 255},
		Color0A: color.RGBA{R: {{base0A-rgb-r}}, G: {{base0A-rgb-g}}, B: {{base0A-rgb-b}}, A: 255},
		Color0B: color.RGBA{R: {{base0B-rgb-r}}, G: {{base0B-rgb-g}}, B: {{base0B-rgb-b}}, A: 255},
		Color0C: color.RGBA{R: {{base0C-rgb-r}}, G: {{base0C-rgb-g}}, B: {{base0C-rgb-b}}, A: 255},
		Color0D: color.RGBA{R: {{base0D-rgb-r}}, G: {{base0D-rgb-g}}, B: {{base0D-rgb-b}}, A: 255},
		Color0E: color.RGBA{R: {{base0E-rgb-r}}, G: {{base0E-rgb-g}}, B: {{base0E-rgb-b}}, A: 255},
		Color0F: color.RGBA{R: {{base0F-rgb-r}}, G: {{base0F-rgb-g}}, B: {{base0F-rgb-b}}, A: 255},
	}
}
